body { background-color: #2c3e50 !important; }

.window-wrapper.clearfix.js-tab-parent { background-color: white !important; }

.open-card-composer.js-open-card-composer { color : rgb(44, 62, 80) !important; }

.open-card-composer:hover {
	background : none !important;
	text-decoration : none !important;
	opacity : .5 !important;
}

.badge-state-complete {background-color : #34b27d !important;}
input[type='submit'].primary,
input[type='button'].primary,
button.primary,
.button.primary {
	background : #2ecc71 !important;
}

input[type='submit'].primary:hover,
input[type='button'].primary:hover,
button.primary:hover,
.button.primary:hover,
input[type='submit'].primary:focus,
input[type='button'].primary:focus,
button.primary:focus { 
	background : #27ae60 !important;
}

.board-header.clearfix.js-board-header, #header {
	background: rgba(0,0,0,.5) !important;
}
.board-header-btn:not(.no-edit):hover {
	background: #fff !important;
	color: black !important;
}

.board-header.clearfix.js-board-header {
	margin-bottom: 15px;
}

.button-link:hover {
	background: #318ec4;
	background: -webkit-linear-gradient(top,#318ec4 0,#2b7cab 100%);
	background: linear-gradient(to bottom,#318ec4 0,#2b7cab 100%);
	border-color: #2e85b8;
	color: #fff;
}